In [2]:
# by 최혜원 2020.2.10
# tqdm 수정 - 키값변경
import json
import pandas as pd
from urllib.request import urlopen
from datetime import datetime
from tqdm.notebook import tqdm

# movie_dict = {"date":[], "rnum":[],"rank":[],"rankInten":[],"rankOldAndNew":[],"movieCd":[],
#              "movieNm":[],"openDt":[],"salesAmt":[],"salesShare":[],"salesInten":[],
#              "salesChange":[],"salesAcc":[],"audiCnt":[],"audiInten":[],"audiChange":[],
#              "audiAcc":[],"scrnCnt":[],"showCnt":[]}
# keys = ['rnum',
#  'rank',
#  'rankInten',
#  'rankOldAndNew',
#  'movieCd',
#  'movieNm',
#  'openDt',
#  'salesAmt',
#  'salesShare',
#  'salesInten',
#  'salesChange',
#  'salesAcc',
#  'audiCnt',
#  'audiInten',
#  'audiChange',
#  'audiAcc',
#  'scrnCnt',
#  'showCnt']

# today = datetime.today().strftime("%Y-%m-%d")
# date = pd.date_range("2012-01-01", today)
# strdate = date.strftime("%Y%m%d")


# for day in tqdm(strdate):
#     response = urlopen("http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=761d541eb86d7ac8026b0746394d5361&targetDt="+day).read().decode('utf-8')
#     responseJson = json.loads(response)
#     daily_data = responseJson.get("boxOfficeResult").get("dailyBoxOfficeList")
#     for daily in range(len(daily_data)):
#         daily_data_rank = daily_data[daily]
#         movie_dict["date"].append(day)
#         for idx in keys:
#             movie_dict[idx].append(daily_data_rank[idx])

In [2]:
import requests
import json

key1="761d541eb86d7ac8026b0746394d5361"
key2="17792cac2e71366952c3c30b3ca61e40"
day="20180220"
url ="http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key="+key1+"&targetDt="+day
#print(url)

res= requests.get(url)
text=res.text

d = json.loads(text)

for b in d['boxOfficeResult']['dailyBoxOfficeList']:
    print(b['rank'],b['rankOldAndNew'],b['movieCd'],b['movieNm'],b['salesAmt'],b['audiCnt'])

1 OLD 20170561 블랙 팬서 1339810000 171156
2 OLD 20168250 골든슬럼버 363771900 48097
3 OLD 20179205 조선명탐정: 흡혈괴마의 비밀 296878400 40315
4 OLD 20176121 흥부: 글로 세상을 바꾼 자 126100600 16983
5 OLD 20078561 명탐정 코난:감벽의 관 78434800 11466
6 OLD 20179985 코코 56664400 7967
7 OLD 20178672 패딩턴 2 52331600 7861
8 NEW 20170841 리틀 포레스트 46692700 6846
9 OLD 20176104 그것만이 내 세상 45505700 6623
10 OLD 20177946 월요일이 사라졌다 17183800 2449

In [2]:
#openStartDt
#http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key=430156241533f1d058c603178cc3ca0e&openStartDt=20120101
rownum="100"
url="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key="+key1
url_json="&openStartDt=2012&openEndDt=2012&itemPerPage="+rownum


res= requests.get(url+url_json)
text=res.text

d = json.loads(text)
print(d['movieListResult']['totCnt'])
for b in d['movieListResult']['movieList']:
    print(b['movieNm'],b["movieCd"])

651
비정한 도시 감독판 20121241
댄싱퀸 20113743
엄마에게 20090105
가문의 영광5 - 가문의 귀환 20128687
자칼이 온다 20126089
음치 클리닉  20125406
sm 헌터 20124394
나는 공무원이다 20113391
철암 계곡의 혈투 20111027
용문비갑 20124944
강철대오:구국의 철가방 20124070
웨딩스캔들 20128707
R2B: 리턴투베이스 20124049
늑대소년 20124054
오즈의 마법사 19398001
위험한 관계 20129626
파파 20113643
달팽이의 별 20100752
호빗: 뜻밖의 여정 20125048
연가시 20124062
파리의 도둑고양이 20125066
고양이를 빌려드립니다 20122861
블루 발렌타인 20126026
제7의 봉인 20070400
줄탁동시 20110985
해피 해피 브레드 20126446
청춘그루브 20116038
돈의 맛 20124064
피나 20128306
파닥파닥 20126010
케빈에 대하여 20113486
피라냐 3DD 20127407
미쓰 마마 20111898
만화방 20113322
시작은 키스! 20126408
페이스메이커 20113951
테이큰 2 20128447
캐빈 인 더 우즈 20126566
피에타 20124934
토리노의 말 20124427
더 그레이 20124021
야곱 신부의 편지 20125766
러브 20128308
주먹왕 랄프 20129388
체 게바라 : 뉴맨 20121683
남영동1985 20127546
두 개의 문 20112443
내가 살인범이다 20124075
장화신은 고양이 20113862
늑대아이 20127494
지난 여름, 갑자기 20126507
반드시 크게 들을 것 2 : Wild Days 20128609
레미제라블 20128274
러브픽션 20113916
미쓰GO 20113532
바람과 함께 사라지다 20124067
점쟁이들 20113887
반창꼬 20124399
화차 20124050
하울링 20110249
577 프로젝트 20128271
이웃사람 20125920
26년 20088506
금병매 감독판 20128986
그 시절, 우리가 좋아했던 소녀 20128588
잔혹한 앵글의 로망스 20123262
미드나잇 인 파리 20126686
우리도 사랑일까 20129260
밀림의 왕자 레오: 세상을 바꾸는 용기 20124552
차형사 20124065
건축학개론 20124074
부러진 화살 20113535
지저스 크라이스트 슈퍼스타 20121821
간첩 20124400
용의자X 20124057
후궁 : 제왕의 첩 20113533
밍크코트 20112781
다른나라에서 20124350
도둑들 20124034
섹스, 거짓말 그리고 비디오 테이프 20126668
은교 20124066
청포도 사탕: 17년 전의 약속 20124013
범죄와의 전쟁: 나쁜놈들 전성시대 20113557
광해, 왕이 된 남자 20124079
내 아내의 모든 것 20113554
프란체스코와 교황 20125209
엔딩노트 20120941
코리아 20124045
네모난원 20122702
마티나 20124017
끌로끌로 20129866
가족시네마 20121421
말하는 건축가 20112808
심플 라이프 20121095
팅커 테일러 솔저 스파이 20124134
파우스트 20121827
하트 브레이커 20113201
가을 소나타 20070396
서칭 포 슈가맨 20128746
나의 PS 파트너  20124936

In [3]:
field=("movieNm","typeNm","nations","genres","directors","actors")
moiveCd="20121421"
url="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json"
url_order="?key="+key1+"&movieCd="+moiveCd
res= requests.get(url+url_order)
text=res.text

d = json.loads(text)
b = d.get("movieInfoResult").get("movieInfo").get("actors")[:][3]["peopleNm"]
#print(d)
for idx in d.get("movieInfoResult").get("movieInfo").get("actors")[:] :
    print(idx["peopleNm"])

정인기
김지영
선우선
이명행
지우
최무성
장소연
박희본
황석정
박길수
박현영
이우정

In [99]:
import json
import pandas as pd
from urllib.request import urlopen
#from urllib2.request import urlopen
from datetime import datetime
from tqdm import tqdm_notebook
from pandas.io.json import json_normalize 

movie_df = pd.read_csv("data/movie_df.csv", encoding="utf-8")
movie_cd_list = list(movie_df["movieCd"])
movie_cd_list = list(set(movie_cd_list))
movie_info = {}

for cd in tqdm_notebook(movie_cd_list):
    response ="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=c0e5d8d5a5cdc4b20f2edd996e8b9ea0&movieCd="+str(cd)
    hi_web = urlopen(res);
    with open('hi.json', 'ab') as hi_file:
          hi_file.write(hi_web.read())

C:\Users\kjjs1\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=2016.0), HTML(value='')))

AttributeError: 'Response' object has no attribute 'type'

In [38]:
key1="761d541eb86d7ac8026b0746394d5361"
key2="17792cac2e71366952c3c30b3ca61e40"
data_info = pd.read_csv("data/movie_info.csv")  #2012/01/01~2020/02/09년도 박스오피스 데이터
data_info.head()
data_info.tail()
df = pd.DataFrame.from_dict(data_info,orient="columns")
df

,Unnamed: 0,movieCd,movieNm,movieNmEn,movieNmOg,showTm,prdtYear,openDt,prdtStatNm,typeNm,nations,genres,directors,actors,showTypes,companys,audits,staffs
0,20135942,20135942,돌핀 : 꿈꾸는 다니엘의 용감한 모험,THE DOLPHIN: STORY OF DREAMER,NaN,87.0,2009.0,20130321.0,개봉,장편,"[{'nationNm': '페루'}, {'nationNm': '독일'}, {'nat...","[{'genreNm': '애니메이션'}, {'genreNm': '어드벤처'}]","[{'peopleNm': '에두와르도 슐츠', 'peopleNmEn': 'Eduar...",[],"[{'showTypeGroupNm': '필름', 'showTypeNm': '필름'}...","[{'companyCd': '20111261', 'companyNm': '팝엔터테인...","[{'auditNo': '2013-MF00013 ', 'watchGradeNm': ...",[]
1,20152337,20152337,BiFan2015 판타스틱 단편 걸작선 3,BiFan2015 Fantastic Short Films 3,NaN,68.0,2015.0,NaN,기타,옴니버스,[{'nationNm': '기타'}],[{'genreNm': '기타'}],"[{'peopleNm': '윤서현', 'peopleNmEn': 'YOON Seo-h...",[],"[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'}]",[],[],[]
2,20168721,20168721,아이엠스타 뮤직어워드,Aikatsu! Music Award: Minna de Shou wo Moracch...,アイカツ！ミュージックアワード みんなで賞をもらっちゃいまSHOW !,56.0,2016.0,20160914.0,개봉,장편,[{'nationNm': '일본'}],[{'genreNm': '애니메이션'}],"[{'peopleNm': '와타다 신야', 'peopleNmEn': 'Watada ...","[{'peopleNm': '김새해', 'peopleNmEn': '', 'cast':...","[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털 ...","[{'companyCd': '20110854', 'companyNm': '씨제이이앤...","[{'auditNo': '2016-MF01320', 'watchGradeNm': '...",[]
3,20176917,20176917,램페이지,Rampage,NaN,107.0,2018.0,20180412.0,개봉,장편,[{'nationNm': '미국'}],[{'genreNm': '액션'}],"[{'peopleNm': '브래드 페이튼', 'peopleNmEn': 'Brad P...","[{'peopleNm': '드웨인 존슨', 'peopleNmEn': 'Dwayne ...","[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...","[{'companyCd': '20100043', 'companyNm': '워너브러더...","[{'auditNo': '2018-MF00563', 'watchGradeNm': '...",[]
4,20185124,20185124,러브 유어셀프 인 서울,LOVE YOURSELF IN SEOUL,NaN,111.0,2018.0,20190126.0,개봉,장편,[{'nationNm': '한국'}],[{'genreNm': '공연'}],[],"[{'peopleNm': '김남준', 'peopleNmEn': 'RM', 'cast...","[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...","[{'companyCd': '20189763', 'companyNm': '빅히트 엔...","[{'auditNo': '2018-MF02502', 'watchGradeNm': '...",[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,20144102,20144102,워터 디바이너,The Water Diviner,NaN,111.0,2014.0,20150128.0,개봉,장편,"[{'nationNm': '미국'}, {'nationNm': '호주'}, {'nat...","[{'genreNm': '드라마'}, {'genreNm': '전쟁'}]","[{'peopleNm': '러셀 크로우', 'peopleNmEn': 'Russell...","[{'peopleNm': '러셀 크로우', 'peopleNmEn': 'Russell...","[{'showTypeGroupNm': '필름', 'showTypeNm': '필름'}...","[{'companyCd': '20100520', 'companyNm': '롯데쇼핑㈜...","[{'auditNo': '2015-MF00044 ', 'watchGradeNm': ...",[]
2012,20168688,20168688,레지던트 이블: 파멸의 날,Resident Evil: The Final Chapter,NaN,106.0,2016.0,20170125.0,개봉,장편,"[{'nationNm': '미국'}, {'nationNm': '독일'}, {'nat...","[{'genreNm': '액션'}, {'genreNm': '공포(호러)'}, {'g...","[{'peopleNm': '폴 W.S. 앤더슨', 'peopleNmEn': 'Pau...","[{'peopleNm': '밀라 요보비치', 'peopleNmEn': 'Milla ...","[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...","[{'companyCd': '20100603', 'companyNm': '유니버설픽...","[{'auditNo': '2017-MF00051', 'watchGradeNm': '...",[]
2013,20168689,20168689,반지의 제왕 : 왕의 귀환 (확장판),The Lord of the Rings: The Return of the King,NaN,263.0,2003.0,20170125.0,개봉,장편,"[{'nationNm': '뉴질랜드'}, {'nationNm': '미국'}]","[{'genreNm': '판타지'}, {'genreNm': '어드벤처'}, {'ge...","[{'peopleNm': '피터 잭슨', 'peopleNmEn': 'Peter Ja...","[{'peopleNm': '일라이저 우드', 'peopleNmEn': 'Elijah...","[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'}]","[{'companyCd': '20158370', 'companyNm': '(주)디스...","[{'auditNo': '2017-MF00053', 'watchGradeNm': '...",[]
2014,20185081,20185081,아이 필 프리티,I Feel PRETTY,NaN,109.0,2018.0,20180606.0,개봉,장편,[{'nationNm': '미국'}],[{'genreNm': '코미디'}],"[{'peopleNm': '아비 콘', 'peopleNmEn': 'Abby Kohn'}]","[{'peopleNm': '에이미 슈머', 'peopleNmEn': 'Amy Sch...","[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'}]","[{'companyCd': '20154928', 'companyNm': '(주)홈초...","[{'auditNo': '2018-MF01003', 'watchGradeNm': '...",[]
2015,20193275,20193275,브링 더 소울 : 더 무비,BRING THE SOUL : THE MOVIE,NaN,103.0,2019.0,20190807.0,개봉,장편,[{'nationNm': '한국'}],[{'genreNm': '기타'}],"[{'peopleNm': '박준수', 'peopleNmEn': ''}]","[{'peopleNm': '김남준', 'peopleNmEn': 'RM', 'cast...","[{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'}]","[{'companyCd': '20189763', 'companyNm': '빅히트 엔...","[{'auditNo': '2019-MF01489', 'watchGradeNm': '...","[{'peopleNm': '윤지원', 'peopleNmEn': 'YUN Ji-won..."

In [2]:
m_data=pd.read_csv("data/movie_2016_2018.csv")

In [4]:
m_data

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,openYr
0,5,5,0,OLD,20157042,셜록: 유령신부,2016-01-02,399974678,11.2,54954778,15.9,7746498278,49794,3666,7.9,993249,575,2276,2016
1,5,5,0,OLD,20157042,셜록: 유령신부,2016-01-02,158303400,7.7,-11568900,-6.8,9425370649,21212,-1390,-6.1,1205017,498,1745,2016
2,8,8,2,OLD,20157042,셜록: 유령신부,2016-01-02,27828400,1.5,-1645100,-5.6,9916693149,3768,-194,-4.9,1268807,214,373,2016
3,5,5,0,OLD,20157042,셜록: 유령신부,2016-01-02,169872300,8.2,-423412900,-71.4,9267067249,22602,-51689,-69.6,1183805,513,1789,2016
4,7,7,1,OLD,20157042,셜록: 유령신부,2016-01-02,31869900,1.8,4041500,14.5,9948563049,4280,512,13.6,1273087,217,384,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10696,10,10,-1,OLD,20170658,PMC: 더 벙커,2018-12-26,28222250,0.9,-11566500,-29.1,13850270694,3285,-1403,-29.9,1651672,278,426,2018
10697,4,4,0,OLD,20170658,PMC: 더 벙커,2018-12-26,152471050,7.5,-305311450,-66.7,13640715944,18774,-31763,-62.9,1626449,670,2002,2018
10698,9,9,-5,OLD,20170658,PMC: 더 벙커,2018-12-26,39788750,1.3,-101755000,-71.9,13822048444,4688,-12562,-72.8,1648387,341,599,2018
10699,2,2,0,OLD,20170658,PMC: 더 벙커,2018-12-26,397485250,14.2,-1366457850,-77.5,11865675717,49300,-146559,-74.8,1424190,819,3311,2018
10700,2,2,0,OLD,20170658,PMC: 더 벙커,2018-12-26,2127143000,21.9,-137604904,-6.1,8365701917,236214,-15252,-6.1,1013905,995,4226,2018

In [7]:
total=m_data[["movieCd","movieNm"]].drop_duplicates()
total

        movieCd                          movieNm
0      20157042                         셜록: 유령신부
19     20153087                         포인트 브레이크
20     20150024   짱구는 못말려 극장판: 나의 이사 이야기 선인장 대습격
21     20155422                            굿 다이노
24     20142641                        나를 잊지 말아요
...         ...                              ...
10535  20183479  극장판 짱구는 못말려: 아뵤! 쿵후 보이즈 ~라면 대란~
10585  20183375                극장판 포켓몬스터 모두의 이야기
10641  20186281                              범블비
10643  20183785            점박이 한반도의 공룡2 : 새로운 낙원
10681  20170658                        PMC: 더 벙커

[752 rows x 2 columns]

In [8]:
total.to_csv("data/moiveList2016-2018.csv")

In [35]:
mp_data=pd.read_html("data/KOBIC 통계자료/검사외전.xls",encoding='UTF-8')[1]

In [36]:
mp_data

,날짜,스크린수,스크린점유율,상영횟수,상영점유율,좌석수,좌석점유율,좌석판매율,매출액,매출액증감(전일대비),관객수,관객수증감(전일대비),누적매출액,누적관객수,순위
0,2016-01-25,4,0.1%,4,0%,1499,0.1%,100.0%,8994000,8994000 ( 100.0% ),1499,1499 ( 100.0% ),8994000,1499,13
1,2016-01-26,3,0.1%,3,0%,772,0.0%,100.0%,6948000,-2046000 ( -22.7% ),772,-727 ( -48.5% ),15942000,2271,18
2,2016-01-27,3,0.1%,3,0%,1002,0.0%,100.0%,9018000,2070000 ( 29.8% ),1002,230 ( 29.8% ),24960000,3273,19
3,2016-01-28,3,0.1%,4,0%,1508,0.1%,100.0%,11937000,2919000 ( 32.4% ),1508,506 ( 50.5% ),36897000,4781,12
4,2016-01-29,14,0.3%,14,0.1%,3303,0.1%,99.5%,29793000,17856000 ( 149.6% ),3285,1777 ( 117.8% ),66690000,8066,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2016-11-29,1,0.0%,3,0%,780,0.0%,17.4%,272000,-74000 ( -21.4% ),136,-37 ( -21.4% ),77320063264,9707467,45
79,2016-11-30,1,0.0%,2,0%,520,0.0%,18.8%,196000,-76000 ( -27.9% ),98,-38 ( -27.9% ),77320259264,9707565,56
80,2016-12-02,1,0.0%,1,0%,76,0.0%,6.6%,45000,45000 ( 100.0% ),5,5 ( 100.0% ),77320304264,9707570,124
81,2016-12-03,1,0.0%,1,0%,76,0.0%,6.6%,45000,0 ( 0.0% ),5,0 ( 0.0% ),77320349264,9707575,139
82,2016-12-05,1,0.0%,1,0%,76,0.0%,7.9%,54000,54000 ( 100.0% ),6,6 ( 100.0% ),77320403264,9707581,105

In [37]:
mp_data=pd.read_html("data/KOBIC 통계자료/45년후.xls",encoding='UTF-8')[1]

In [38]:
mp_data

,날짜,스크린수,스크린점유율,상영횟수,상영점유율,좌석수,좌석점유율,좌석판매율,매출액,매출액증감(전일대비),관객수,관객수증감(전일대비),누적매출액,누적관객수,순위
0,2015-11-26,1,0.0%,1,0%,293,0.0%,12.3%,254000,254000 ( 100.0% ),36,36 ( 100.0% ),254000,36,63
1,2015-11-28,1,0.0%,1,0%,293,0.0%,38.9%,1125000,1125000 ( 100.0% ),114,114 ( 100.0% ),1379000,150,46
2,2015-12-02,1,0.0%,1,0%,293,0.0%,28.3%,703000,703000 ( 100.0% ),83,83 ( 100.0% ),2082000,233,52
3,2016-02-13,1,0.0%,1,0%,293,0.0%,32.4%,923000,923000 ( 100.0% ),95,95 ( 100.0% ),3005000,328,50
4,2016-02-17,1,0.0%,1,0%,293,0.0%,14.0%,362000,362000 ( 100.0% ),41,41 ( 100.0% ),3367000,369,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2016-07-01,1,0.0%,1,0%,152,0.0%,3.3%,30000,-48000 ( -61.5% ),5,-5 ( -50.0% ),186432318,23925,76
65,2016-07-02,1,0.0%,1,0%,152,0.0%,3.3%,39000,9000 ( 30.0% ),5,0 ( 0.0% ),186471318,23930,91
66,2016-07-05,1,0.0%,1,0%,152,0.0%,6.6%,76000,76000 ( 100.0% ),10,10 ( 100.0% ),186547318,23940,74
67,2017-10-19,1,0.0%,1,0%,850,0.0%,6.2%,299000,299000 ( 100.0% ),53,53 ( 100.0% ),186846318,23993,55
68,2018-02-14,1,0.0%,1,0%,77,0.0%,1.3%,6600,6600 ( 100.0% ),1,1 ( 100.0% ),186852918,23994,108